.files {
    flex: 1 0 100%;

    .file-date {
        font-size: .8rem;
        font-weight: 400;
    }

    .search-field {
        width: 25%;
        margin-right: 2rem;
    }

    .date-range-field {
        width: 25%;
        margin-right: 2rem;
    }

    .filter-list {
        flex: 1 0 31.5%;
        min-width: 31.5%;
        margin-bottom: 1rem;
    
        &:not(:nth-child(3n)) {
            margin-right: 1rem;
        }
    }
    
    .file-image {
        margin-bottom: 1rem;

        &:not(:nth-child(4n)) {
            margin-right: 1rem;
        }
    }
    
    .primary {
        color: var(--color-primary);
    }
}

.selected-view {
    mat-icon {
        color: var(--fuse-primary);
    }
}

.list-view {
    width: 100%;

    li {
        display: flex;
        align-items: center;
        padding: 1rem 0.5rem;

        &:not(:last-child) {
            border-bottom: 1px solid #ddd;
            margin-bottom: 1rem;
        }
    }

    .item {
        width: 32%;
    }
}