<div class="p-8 flex flex-col files">
    <app-search-filter (signal)="onFilterEvent($event)"></app-search-filter>

    <div class="flex flex-col" *ngIf="!loadingPage">
        <!-- Toggle buttons for list and grid view -->
        <fuse-card class="mb-3 p-2 w-full">
            <button mat-icon-button [class.selected-view]="viewType === 'grid'" (click)="onViewChange('grid')">
                <mat-icon>grid_view</mat-icon>
            </button>
    
            <button mat-icon-button [class.selected-view]="viewType === 'list'" (click)="onViewChange('list')">
                <mat-icon>view_list</mat-icon>
            </button>
        </fuse-card>

        <!-- Files Grid View -->
        <div class="flex flex-wrap items-stretch w-full" *ngIf="viewType === 'grid'; else listView">
            <fuse-card class="flex flex-col max-w-80 w-full px-8 pt-6 pb-4 cursor-pointer filter-list" 
                *ngFor="let file of files;" (click)="onViewFileDetail(file)">
                
                <div class="flex items-center justify-between">
                    <div class="flex items-center text-2xl font-semibold leading-tight">
                        <span class="text-overflow mr-2">{{ file.reference }} </span>
                    </div>
    
                    <div class="-mr-3">
                        <ng-container [ngTemplateOutlet]="fileMenuTemplate" [ngTemplateOutletContext]="{file: file}"></ng-container>
                    </div>
                </div>

                <div class="flex mb-2" *ngIf="file.containerNumber">
                    <ng-container *transloco="let t">
                        <div class="bold">{{t('Container_Number')}}: &nbsp;</div>
                    </ng-container>
                    <div>{{ file.containerNumber }}</div>
                </div>

                <div class="flex items-center mb-2">
                    <div class="flex mr-2">
                        <ng-container *transloco="let t">
                            <div class="bold">{{t('Uploaded_By')}}: &nbsp;</div>
                        </ng-container>
                        <div>{{ file.user.name }}</div>
                    </div>

                    <div class="file-date">({{ file.createdAt | date: 'dd/MM/YYYY HH:mm' }})</div>
                </div>
        
                <div class="flex items-center" *ngIf="file.noOfDamagedGoods > 0">
                    <mat-icon class="mr-3 primary">check_circle</mat-icon>
                    <ng-container *transloco="let t">
                        <div>{{t('Contains_Damage')}}</div>
                    </ng-container>
                </div>
        
                <div class="flex flex-wrap mt-6">
                    <img *ngFor="let picture of file.pictures | firstEight:file.maxImagesToShow"
                        class="w-14 h-14 rounded object-cover file-image"
                        [src]="getFileImage(picture)"
                        alt="File Image">
                </div>
        
                <div class="flex items-center mt-6 -mx-3" *ngIf="file.maxImagesToShow < file.pictures.length;">
                    <a
                        class="px-3"
                        (click)="onSeeEntireList($event, file)"
                        mat-button
                        [color]="'primary'"
                        [routerLink]="['./']">
                        <ng-container *transloco="let t">
                            {{t('See_Full_List')}}
                        </ng-container>
                    </a>
                </div>
            </fuse-card>
        </div>
    
        <!-- File List View -->
        <ng-template #listView>
            <ul class="list-view">
                <li class="cursor-pointer" (click)="onViewFileDetail(file)" *ngFor="let file of files">
                    <img class="file-image-list" [src]="file.file_images[0]?.url" alt="File Image">

                    <div class="item">{{ file.reference }}</div>
                    <div class="item">{{ file.containerNumber || 'NA' }}</div>
                    <div class="item">
                        <span *ngIf="file.noOfDamagedGoods > 0; else noDamageGoods">
                            Contains {{file.noOfDamagedGoods}} damage goods
                        </span>
                        <ng-template #noDamageGoods>No damage goods</ng-template>
                    </div>
                    <div class="item">{{ file.createdAt | date: 'dd MMM YYYY HH:mm' }}</div>

                    <div class="flex justify-end item">
                        <ng-container [ngTemplateOutlet]="fileMenuTemplate" [ngTemplateOutletContext]="{file: file}"></ng-container>
                    </div>
                </li>
            </ul>
        </ng-template>

        <div class="flex justify-center" #scrollElem>
            <button *ngIf="files.length < total" mat-flat-button
                (click)="onLoadMore()" [disabled]="disableLoadMoreBtn">
                <div class="flex justify-between">
                    <span class="mr-3">
                        <ng-container *transloco="let t">
                            {{t('Load_More')}}
                        </ng-container>
                    </span>
                    <mat-progress-spinner *ngIf="disableLoadMoreBtn"
                        diameter="20"
                        strokeWidth="3"
                        class="btn-spinner"
                        color="accent"
                        mode="indeterminate">
                    </mat-progress-spinner>
                </div>
            </button>
        </div>
    </div>

    <div class="w-full flex justify-center" *ngIf="files.length === 0 && !loadingPage">
        <h3 class="text-3xl font-bold dark:text-white">No file found</h3>
    </div>

    <div class="p-8 w-full flex justify-center items-center" *ngIf="loadingPage">
        <mat-spinner diameter="60"></mat-spinner>
    </div>
</div>

<ng-template #fileMenuTemplate let-file="file">
    <button (click)="onMenuTrigger($event)" mat-icon-button [matMenuTriggerFor]="listCard09Menu">
        <mat-icon
            class="icon-size-5"
            [svgIcon]="'heroicons_solid:dots-vertical'">
        </mat-icon>
    </button>

    <mat-menu #listCard09Menu="matMenu">
        <button mat-menu-item (click)="onDownloadFile(file)">
            <ng-container *transloco="let t">
                {{t('Download')}}
            </ng-container>
        </button>

        <button mat-menu-item (click)="onGeneratePDFReport(file)">
            <ng-container *transloco="let t">
                {{t('Generate_Pdf_Report')}}
            </ng-container>
        </button>

        <button mat-menu-item (click)="onAddPicture(file)">
            <ng-container *transloco="let t">
                {{t('Add_Pictures')}}
            </ng-container>
        </button>

        <button mat-menu-item (click)="onUpdateFile(file)">
            <ng-container *transloco="let t">
                {{t('Update_File')}}
            </ng-container>
        </button>

        <button mat-menu-item (click)="onDeleteFile(file)" class="delete-fg">
            <ng-container *transloco="let t">
                {{t('Delete_File')}}
            </ng-container>
        </button>
    </mat-menu>
</ng-template>