.files {
    flex: 1 0 100%;

    .file-date {
        font-size: 0.7rem;
        font-weight: 400;
    }

    .filter-list {
        flex: 1 0 32.4%;
        min-width: 32.4%;
        margin-bottom: 1rem;
    
        &:not(:nth-child(3n)) {
            margin-right: 1rem;
        }
    }
    
    .file-image {
        margin: 0 1rem 1rem 0;
    }
    
    .primary {
        color: var(--color-primary);
    }

    .selected-view {
        mat-icon {
            color: var(--fuse-primary);
        }
    }
    
    .list-view {
        width: 100%;
    
        li {
            display: flex;
            align-items: center;
            padding: 1rem 0.5rem;
    
            &:not(:last-child) {
                border-bottom: 1px solid #ddd;
                margin-bottom: 1rem;
            }
        }
    
        .item {
            width: 32%;
        }
    }

    .text-overflow {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 260px;
    }

    .bold {
        font-weight: 600;
    }
}