<div class="p-8 flex flex-col items-start w-full" [class.justify-center]="filePictures.length === 0" *ngIf="!loadingPage">
    <fuse-card class="mb-3 p-2 w-full" *ngIf="filePictures.length > 0">
        <button mat-icon-button [class.selected-view]="viewType === 'grid'" (click)="onViewChange('grid')">
            <mat-icon>grid_view</mat-icon>
        </button>

        <button mat-icon-button [class.selected-view]="viewType === 'list'" (click)="onViewChange('list')">
            <mat-icon>view_list</mat-icon>
        </button>
    </fuse-card>

    <!-- Grid View-->
    <div class="flex flex-wrap items-stretch w-full" *ngIf="viewType === 'grid'; else listView">
        <mat-card class="file-card" *ngFor="let pic of filePictures">
            <mat-card-header>
                <mat-card-subtitle>{{ pic.createdAt | date:'dd/MM/YYYY hh:mm a' }}</mat-card-subtitle>
            </mat-card-header>
            
            <img class="file-image cursor-pointer" [src]="pic.url" alt="File Picture" (click)="onImageViewer(pic)">

            <div class="flex mt-2">
                <div class="bold">Reference:&nbsp;</div>
                <div>{{pic.file.reference}}</div>
            </div>

            <div class="flex">
                <div class="bold">Containuer Number:&nbsp;</div>
                <div>{{pic.file.containerNumber.trim() ? pic.file.containerNumber : 'NA'}}</div>
            </div>

            <mat-card-actions>
                <button mat-button>
                    <a class="flex items-center" [href]="pic.url" download>
                        <mat-icon class="mr-2">download</mat-icon>
                        DOWNLOAD
                    </a>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <!-- Grid View-->
    <ng-template #listView>
        <div class="flex flex-wrap items-stretch w-full">
            <ul class="list-view">
                <li class="justify-between" *ngFor="let pic of filePictures">
                    <img class="file-image-list" [src]="pic.url" alt="File Image">
                                        
                    <div>{{ pic.createdAt | date: 'dd MMM YYYY hh:mm a' }}</div>

                    <div class="flex justify-end">
                        <a [href]="pic.url" download>
                            <mat-icon class="mr-2">download</mat-icon>
                        </a>
                        <mat-icon class="delete-fg cursor-pointer" (click)="onDeleteFileImage(pic)">delete</mat-icon>
                    </div>
                </li>
            </ul>
        </div>
    </ng-template>

    <div class="flex justify-center w-full" #scrollElem>
        <button class="mt-4" *ngIf="filePictures.length < total" mat-flat-button
            (click)="onLoadMore()" [disabled]="loadMore">
            <div class="flex justify-between">
                <span class="mr-3">Load more</span>
                <mat-progress-spinner *ngIf="loadMore"
                    diameter="20"
                    strokeWidth="3"
                    class="btn-spinner"
                    color="accent"
                    mode="indeterminate">
                </mat-progress-spinner>
            </div>
        </button>
    </div>

    <div class="w-full flex justify-center" *ngIf="filePictures.length === 0;">
        <h3 class="text-3xl font-bold dark:text-white">No file pictures added yet</h3>
    </div>
</div>

<div class="p-8 w-full flex justify-center items-center" *ngIf="loadingPage">
    <mat-spinner diameter="60"></mat-spinner>
</div>