.search-filters, .view {
    width: 98.5% !important;
}

.file-image-card {
    width: 31.9%;
    min-width: 31.9%;
    margin: 0 1rem 1rem 0;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 960px) {
        min-width: 45%;
    }

    @media screen and (max-width: 600px) {
        min-width: 100%;
        margin: 0 0 1rem 0;
    }

    .file-image {
        width: 100%;
        height: 15rem;
        object-fit: cover;
    }

    .object-contained {
        object-fit: contain !important;
    }

    .download-icon {
        margin-right: .5rem;
    }

    .bold {
        font-weight: 600;
    }
}

.selected-view {
    mat-icon {
        color: var(--fuse-primary);
    }
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

.list-view {
    width: 100%;

    li {
        display: flex;
        align-items: center;
        padding: 1rem 0.5rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid #ddd;

        &:hover {
            background: #ddd;
            border-radius: 5px;
        }
    }

    .list-item {
        width: 20%;
    }
}