<div class="flex flex-col p-8 container">
	<h2 class="text-3xl font-bold mb-3">
		<ng-container *transloco="let t">
			{{t('Profile')}}
		</ng-container>
	</h2>

	<div class="flex flex-col" *ngIf="!loading">
		<div class="flex mb-3">
			<div class="label">
				<ng-container *transloco="let t">
                    {{t('Name')}}:
                </ng-container>
			</div>
			<div>{{ profile.name }}</div>
		</div>
		
		<div class="flex mb-3">
			<div class="label">
				<ng-container *transloco="let t">
					{{t('Email')}}:
				</ng-container>
			</div>
			<div>{{ profile.email }}</div>
		</div>

		<div class="flex">
			<div class="label mb-3">
				<ng-container *transloco="let t">
					{{t('Department')}}:
				</ng-container>
			</div>
			<div>{{ profile.department.name }}</div>
		</div>

		<div class="flex">
			<div class="label mb-3">
				<ng-container *transloco="let t">
					{{t('User_Type')}}:
				</ng-container>
			</div>
			<div>{{ profile.type }}</div>
		</div>

		<div class="flex">
			<div class="label">
				<ng-container *transloco="let t">
					{{t('Language')}}:
				</ng-container>
			</div>
			<div>{{ profile.language === 'en' ? 'English' : 'Nederlands' }}</div>
		</div>
	</div>

	<div class="p-8 w-full flex justify-center items-center" *ngIf="loading">
		<mat-spinner diameter="60"></mat-spinner>
	</div>
</div>