<div class="flex flex-col p-8 container">
	<h2 class="text-3xl font-bold mb-3">Profile</h2>

	<div class="flex flex-col" *ngIf="!loading">
		<div class="flex mb-3">
			<div class="label">Name:</div>
			<div>{{ profile.name }}</div>
		</div>
		
		<div class="flex mb-3">
			<div class="label">Email:</div>
			<div>{{ profile.email }}</div>
		</div>

		<div class="flex">
			<div class="label mb-3">Department:</div>
			<div>{{ profile.department.name }}</div>
		</div>

		<div class="flex">
			<div class="label mb-3">User Type:</div>
			<div>{{ profile.type }}</div>
		</div>

		<div class="flex">
			<div class="label">Language:</div>
			<div>{{ profile.language === 'en' ? 'English' : 'Dutch' }}</div>
		</div>
	</div>

	<div class="p-8 w-full flex justify-center items-center" *ngIf="loading">
		<mat-spinner diameter="60"></mat-spinner>
	</div>
</div>