<div class="panzoom">
	<dialog-header title="Image Viewer" (signal)="onDialogClose()"></dialog-header>
	
	<div class="flex justify-center items-center p-8 content">
		<div class="panzoom-parent-elem">
			<img #scene [src]="imageSrc" alt="Panzoom image" class="panzoom-img">
		</div>

		<div class="actions">
			<button class="mr-2" mat-icon-button (click)="onZoom('in')">
				<mat-icon>zoom_in</mat-icon>
			</button>

			<button mat-icon-button (click)="onZoom('out')">
				<mat-icon>zoom_out</mat-icon>
			</button>
		</div>
	</div>
</div>