<div class="container">
	<div class="flex justify-between items-center">
		<h2 class="text-3xl font-semibold tracking-tight leading-8" style="margin: 0;">
			<ng-container *transloco="let t">
                {{t('Create_File')}}
            </ng-container>
		</h2>
		
		<button mat-icon-button matDialogClose>
			<mat-icon>close</mat-icon>
		</button>
	</div>
	
	<mat-divider class="divider"></mat-divider>

	<form [formGroup]="theForm" class="content">
        <mat-chip-list class="mb-3" *ngIf="files.length > 0">
            <mat-chip *ngFor="let file of files" [removable]="true" (removed)="onRemoveFile(file)">
                {{file.name}} <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    
        <button class="mb-3" mat-raised-button color="primary" (click)="onUploadFile()">
            <ng-container *transloco="let t">
                {{t('Browse_Files')}}
            </ng-container>
        </button>
    
        <input hidden type="file" [accept]="allowedFileTypes" [multiple]="true" #uploadFilesField (change)="onFileChange()">
    
		<mat-form-field appearance="outline">
			<mat-label>
				<ng-container *transloco="let t">
					{{t('Reference')}}
				</ng-container>
			</mat-label>
			<input type="text" matInput formControlName="reference" placeholder="Reference">
			<mat-error *ngIf="theForm.get('reference').hasError('required')">
				<ng-container *transloco="let t">
					{{t('Reference_Required')}}
				</ng-container>
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>
				<ng-container *transloco="let t">
					{{t('Container_Number')}}
				</ng-container>
			</mat-label>
			<input type="text" matInput formControlName="containerNumber" placeholder="Container Number">
		</mat-form-field>

        <mat-checkbox formControlName="isDamaged">
			<ng-container *transloco="let t">
				{{t('Is_Damaged')}}
			</ng-container>
		</mat-checkbox>
    </form>

	<mat-divider class="divider"></mat-divider>

	<div class="flex justify-end">
		<button mat-raised-button color="primary" 
			[disabled]="theForm.invalid || disableCreateBtn" 
			(click)="onSubmit()">
			<ng-container *transloco="let t">
				{{t('Create_File')}}
			</ng-container>
		</button>
	</div>
</div>