<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-400 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto">
            <!-- Logo -->
            <div class="w-80 mx-auto">
                <img src="assets/images/logo/logo.png">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight text-center">
                <ng-container *transloco="let t">
					{{t('Sign_In')}}
				</ng-container>
            </div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign in form -->
            <form
                class="mt-8"
                [formGroup]="signInForm">

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>
                        <ng-container *transloco="let t">
                            {{t('Email')}}
                        </ng-container>
                    </mat-label>
                    <input
                        id="email"
                        matInput
                        (keyup.enter)="signIn()"
                        [formControlName]="'email'">
					
                    <mat-error *ngIf="signInForm.get('email').invalid">
                        <div *ngIf="signInForm.get('email').hasError('required')">
                            <ng-container *transloco="let t">
                                {{t('Email_Required')}}
                            </ng-container>
                        </div>
						<div *ngIf="signInForm.get('email').hasError('email')">
                            <ng-container *transloco="let t">
                                {{t('Invalid_Email')}}
                            </ng-container>
                        </div>
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>
                        <ng-container *transloco="let t">
                            {{t('Password')}}
                        </ng-container>
                    </mat-label>
                    <input
                        id="password"
                        (keyup.enter)="signIn()"
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        #passwordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'">
                        </mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'">
                        </mat-icon>
                    </button>
                    <mat-error>
                        <ng-container *transloco="let t">
                            {{t('Password_Required')}}
                        </ng-container>
                    </mat-error>
                </mat-form-field>
				
                <div class="flex items-center mt-6">
					<button
						class="fuse-mat-button-large w-full"
						mat-flat-button
						[color]="'primary'"
						[disabled]="signInForm.disabled"
						type="button"
						(click)="signIn()">
						<span *ngIf="!signInForm.disabled">
							<ng-container *transloco="let t">
                                {{t('Sign_In')}}
                            </ng-container>
						</span>
						<mat-progress-spinner
							*ngIf="signInForm.disabled"
							[diameter]="24"
							[mode]="'indeterminate'">
						</mat-progress-spinner>
					</button>
				</div>
            </form>
        </div>
    </div>
</div>
